<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <a href="/sign-up">sign up</a>
      <a href="/new-post">create post</a>
      <a href="/all-posts">see all posts</a>
    </header>
    {{{body}}}
  </body>
</html>